.test_image_and_result
{
    background-color: grey;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.img_responsive
{
    height: 350px;
    width: 200px;
}
#h4
{
    position: fixed;
    text-align: center;
    width: 100%;
    color: rgb(78, 47, 255);
    box-shadow: 5px 5px 18px red;
    line-height: 4;
    background: red;
    bottom: 0;
    font-size: 15px;
}